@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
.nav-wrapper{
    background-color: white;
    padding: 25px 0px;
}

a , a:hover , a:link {
    text-decoration: none;
    color: black;
}

.logo-text{
    margin: 0px;
    color: black;
    text-decoration: none;
    font-size: 2.2rem;
    font-family: 'Poppins', sans-serif;
}
.portfolio h1.title{
    margin: 0px;
    color: white;
    font-size: 3.8rem;
    font-family: 'Poppins', sans-serif;
}

h1.title span {
    color: #ffc952;
    font-size: 4.4rem;
}

.logo-text span {
    color: #ffc952;
    font-size: 2.8rem;
}

section.portfolio {
    background-color: #333333;
}

.bg-red{
    background-color: red;
}

.flex-container{
    display: flex;
    align-items: center;
}

.menu-btn{
    margin-left: auto;
    order: 2;
}

.section-padding{
    padding: 8rem 0rem;
}

p.subtitle{
    color: #999999;
}

.p-0{
    padding: 0px 0px;
    font-size: 1.7rem;
}

/* 02 image grid css -----------------*/
.grid-padding{
    padding: 1.4rem 0rem 0rem 0rem; 
}

.image-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two equal columns that sits next to each other */
  .image-column {
    flex: 33.33%;
  }
  
  .image-column img {
    vertical-align: middle;
  }
/* ---------------------------------- */

/* 03 news section css -----------------*/
section.news{
    background-color: #fcfcfc;
}

.news h1.title{
    margin: 0px;
    color: #212121;
    font-size: 3.8rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    
}

.news-flex{
    display: flex;
}

.single-news{
    padding: 3rem 0rem;
    border-top: 1px solid #33333334;
    align-items: center;
}

.single-news .last{
    border-bottom: 1px solid #33333334; 
}

.description h6 {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0px;
    padding-bottom: 5px;
    color: rgb(100, 100, 100);
    font-family: 'Poppins', sans-serif;
}

.news-padding{
    padding-bottom: 3.5rem;
}

.description h2 {
    font-weight: 700;
    font-size: 2.4rem;
    margin: 0px;
    padding-bottom: 5px;
    columns: #000000;;
    font-family: 'Poppins', sans-serif;
}

.description p {
    font-weight: 300;
    margin: 0px;
    color: #999999;
   
}

.date h1{
    color: #999999; 
    padding-right:  3.5rem;
    font-size: 4.3rem;
    line-height: 2rem !important;
    font-family: 'Poppins', sans-serif;
}

.date h1 span{
    font-size: 1.95rem;
    font-weight: 700;
    
}

.circles {
 padding: 0rem 1.3rem;
 width: 10%;
}
.circles .icon {
    font-size: 1rem;
    color: #999999; 
}

.circles li {
    float: left;
    padding: 0px 4px;
  }
.circles ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
/* ---------------------------------- */

