@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
.nav-wrapper{
    background-color: white;
    padding: 25px 0px;
}

a , a:hover , a:link {
    text-decoration: none;
    color: black;
}

.logo-text{
    margin: 0px;
    color: black;
    text-decoration: none;
    font-size: 2.2rem;
    font-family: 'Poppins', sans-serif;
}
.portfolio h1.title{
    margin: 0px;
    color: white;
    font-size: 3.8rem;
    font-family: 'Poppins', sans-serif;
}

h1.title span {
    color: #ffc952;
    font-size: 4.4rem;
}

.logo-text span {
    color: #ffc952;
    font-size: 2.8rem;
}

section.portfolio {
    background-color: #333333;
}

.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: blue;
}

.flex-container{
    display: flex;
    align-items: center;
}

.menu-btn{
    margin-left: auto;
    order: 2;
}

.section-padding{
    padding: 8rem 0rem;
}

p.subtitle{
    color: #999999;
}

.p-0{
    padding: 0px 0px;
    font-size: 1.7rem;
}

/* 02 image grid css -----------------*/
.grid-padding{
    padding: 1.4rem 0rem 0rem 0rem; 
}

.image-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two equal columns that sits next to each other */
  .image-column {
    flex: 33.33%;
  }
  
  .image-column img {
    vertical-align: middle;
  }
/* ---------------------------------- */

/* 03 news section css -----------------*/
section.news{
    background-color: #fcfcfc;
}

.news h1.title{
    margin: 0px;
    color: #212121;
    font-size: 3.8rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    
}

.news-flex{
    display: flex;
}

.single-news{
    padding: 4.5rem 0rem;
    border-top: 1px solid #33333334;
    align-items: center;
}

.last{
    border-bottom: 1px solid #33333334; 
}

.description h6 {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0px;
    padding-bottom: 5px;
    color: rgb(100, 100, 100);
    font-family: 'Poppins', sans-serif;
}

.news-padding{
    padding-bottom: 3.5rem;
}

.description h2 {
    font-weight: 700;
    font-size: 2.4rem;
    margin: 0px;
    padding-bottom: 5px;
    columns: #000000;;
    font-family: 'Poppins', sans-serif;
}

.description p {
    font-weight: 300;
    margin: 0px;
    color: #999999;
   
}

.date h1{
    color: #999999; 
    padding-right:  3.5rem;
    font-size: 4.3rem;
    line-height: 2rem !important;
    font-family: 'Poppins', sans-serif;
}

.date h1 span{
    font-size: 1.95rem;
    font-weight: 700;
    
}

.circles {
 padding: 0rem 1.3rem;
 width: 10%;
}
.circles .icon {
    font-size: 1rem;
    color: #999999; 
}

.circles li {
    float: left;
    padding: 0px 4px;
  }
.circles ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
/* ---------------------------------- */
/* 03 footer section css */

.footer-section {
    padding: 6rem 0rem;
    background-color: #f9f9f9;
}
.footer-logo h2 {
    margin: 0px;
    color: black;
    text-decoration: none;
    font-size: 2.2rem;
    margin: 0rem 0rem 4rem 0rem;
    font-family: 'Poppins', sans-serif;
}

.footer-logo h2 span {
    color: #ffc952;
    font-size: 2.8rem;
}

.footer-widget h4 {
    margin: 0rem 0rem 4rem 0rem;
    padding-top: 12px;
    padding-bottom: 5px;
    color: black;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
}

.single-post p {
    font-weight: 300;
    margin: 0px;
    color: #848383; 
    
}
.details p {
    font-weight: 500;
    margin: 0px;
    padding-top: 2px;
    color: #848383; 
    font-family: 'Poppins', sans-serif;
}
.single-post{
    padding-bottom: 15px;
}
.single-post span {
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0px;
    padding : 8px 0px;
    color: rgba(100, 100, 100, 0.659);
    font-family: 'Poppins', sans-serif;
    
}
.insta-flex{
    display: flex;
    flex-wrap: wrap;
}

.social-padding{
    padding-top: 2.6rem !important;
}

.social-icons{
    padding: 0px;
    margin: 0px;  
}

.social-icons ul {
    list-style: none;
    padding: 0px;
}

.social-icons ul li {
    display: inline-block;
}

.mb-0{
    margin-bottom: 0px !important;
}

.social-icons ul li > i {
    width: 35px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.217);
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 1.2rem;
    vertical-align: middle;
    margin-right: 8px;
}

.social-icons ul li > i:hover {
   background-color: rgb(52, 52, 52);
   color: white;
}

.insta-image {
    width: 80px;
    padding : 0px 10px 10px 0px;
}

.input-group{
    display: table;
    border-collapse: collapse;
    width:100%;
    max-width: 300px;
}

.input-group > div{
    border: 1px solid #ddd;
    display: table-cell;
    vertical-align: middle; 
}
.input-group-icon{
background: #222222;;
color: white;

padding: 0 18px;
}

.input-group-area{
width:100%;
}

.input-group input{
border: 0;
display: block;
width: 100%;
padding: 10px 20px;
}

@media (max-width: 500px) {
    .insta-flex{
        width: 70%;
    }
}

@media (min-width: 500px) {
    .insta-flex{
        width: 60%;
    }
}

@media (min-width: 992px) {
    .insta-flex{
        width: 80%;
    }
}
@media (min-width: 1200px) {
    .insta-flex{
        width: 100%;
    }
}

